<style>







* {
    padding: 0;
    margin: 0;
}

    


.outer {
/display: flex;
flex: 1 100%;
flex-flow: row wrap;
align-items: center;

background-image:url(images/IMG_4077.jpg);
background-size:contain;
background-repeat:no-repeat;


background-color:black;
color:#fff200;
padding: 2%;
font-family: monospace;
width: 96%;
height: 92%;
}

.header {
background-color: #00af40;
text-align: center;
width: 100%;
font-size: 40;
font-family: AbolitionTest,Courier,monospace;
border-radius: 15px;
}


/* CSS */
#progressContainer {
  width: 100%;
  background-color: #cccccc;
  border-radius: 15px;
  overflow: hidden;
  font-family: AbolitionTest,Courier,monospace;
  position: relative;
}

#progressBar {
  width: 50%;
  height: 46px;
  background-color: #d720ef;
  animation: 10s ease-in 8s infinite normal bar-fill;
  /* transition: width 2s ease 0s; */
}

.donate_button {
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-family:LeagueMono;
}


.logo {
  position: absolute;
  bottom: 220px;
  right: 10%;
  font-family:LeagueMono;
  width: 5%;
  height: 5%;
}

.percentage {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 42px;
  color: white;
  padding-right: 5px;
}

@keyframes bar-fill {
    from {
    width: 0%;
    }

    to {

    with: 100%;

    }

}

@font-face {
  font-family: 'AbolitionTest';
  src:url('fonts/AbolitionTest-Regular.otf')
}

@font-face {
  font-family: 'LeagueMono';
  src:url('fonts/LeagueMono-Medium.ttf')
}
</style>

